{% extends 'calc/base.html' %}

{% block content %}

<div class="inquiry_section">
    <p><h1>お問い合わせ</h1></p>
    <p>ご意見、ご感想、バグ報告など、お待ちしております。</p>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="inquiry_form">
                <label for="{{ field.id_for_label }}">
                    {{ field.label_tag }}
                </label>
                <div>
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary">送信</button>
    </form>
</div>

{% endblock %}